.wrapper {
    position: absolute;
    width: 20px;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: #a0d911;
}

.menu {
    position: relative;
    width: 200px;
    height: 200px;
    left: -50px;
    top: 30%;
    border-radius: 50%;
    // background-color: #a0d911;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        position: absolute;
        list-style: none;
        left: 0;
        transform-origin: 100px;
        transition: 0.5s;
        transition-delay: calc(0.1s * var(--i));
        transform: rotate(0deg) translateX(80px);
        z-index: 1000;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: #a0d911;
            border-radius: 50%;
            transform: rotate(calc(180deg / -4 * var(--i)));
            // box-shadow: 0 3px 4px rgb(253, 253, 253);
            &:hover {
                box-shadow: 3px 3px 30px rgb(253, 253, 253);
            }
        }
    }
}
.menu.active {
    li {
        transform: rotate(calc(180deg / 4 * var(--i)));
    }
    .avatar-toggle {
        // transform: rotate(360deg);
    }
}

.avatar-toggle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #a0d911;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    transition: transform 1.25s;
    &:hover {
        box-shadow: 7px 1px 4px rgb(253, 253, 253);
    }
}

.menu::before {
    content: '';
    position: absolute;
    top: -19px;
    left: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: -30px 30px #a0d911;
}

.menu::after {
    content: '';
    position: absolute;
    bottom: -19px;
    left: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: -30px -30px #a0d911;
}
